# === Java ===
*.class
*.log
*.jar
*.war
*.ear

# === Maven ===
/target/
/.mvn/wrapper/maven-wrapper.jar

# === Gradle ===
/build/
/.gradle/
gradle-app.setting

# === IDEs ===
## IntelliJ
.idea/
*.iml
out/

## Eclipse
.project
.classpath
.settings/

## VS Code
.vscode/

# === OS files ===
.DS_Store
Thumbs.db

# === Logs & temp ===
/logs/
*.tmp

# === Spring Boot specific ===
/bin/
/tmp/
